html {
    max-width: 100% !important;
    overflow-x: hidden !important;
		/* Line-Height: 2; */
}

body {
	position: relative;
	font-size: 1em;
	font-family: 'Noto Sans', sans-serif;
}

select, button {
	height:22px;
	width: 100px;
	margin-left: 10px;
}

h1 {
	font-size: 1.6em;
	margin-top: 5%;
	margin-left: 15%;
}

input {
	height:25px;
	width: 40px;
}

label {
	margin-right: 5px;
}


#scene {
	float:left;
	border: 1px solid black;
	padding-top: 5px;
	padding-left: 5px;
	height: 400px;
	width: 400px;
	margin-top: 2%;
	margin-left: 15%;
	padding-bottom: 0;
	border-radius: 2%;
}


.score {
	margin-top: 1%;
	margin-bottom: 0%;
	display: inline-block;
	margin-left: 15%;
	font-size: 1.5em;
}

.gridGame {
	position: relative;
	display: inline-block;
	height: 95px;
	width: 95px;
	border: 1px solid rgba(217, 217, 217, .8);
	border-radius: 5%;
	box-sizing: border-box;
	margin-right: 5px;
}

.element {
	position: absolute;
	vertical-align: middle;
	text-align: center;
	line-height: 90px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 95px;
	width: 95px;
	border-radius: 5%;
	box-sizing: border-box;
}

div[color="2"] {
	background: #91B9F0;
	font-size: 1.2em;
}

div[color="4"] {
	background: #F4CC2F;
	font-size: 1.2em;
}

div[color="8"] {
	background: #F08A24;
	font-size: 1.2em;
}

div[color="16"] {
	background: #F36337;
	font-size: 1.2em;
}

div[color="32"] {
	background: #D9301B;
	font-size: 1.2em;
}

div[color="64"] {
	background: #7CBFB3;
	font-size: 1.2em;
}

div[color="128"] {
	background: #0F7367;
	font-size: 1.2em;
}

div[color="256"] {
	background: #CACBD5;
	font-size: 1.2em;
}

div[color="512"] {
	background: #666F88;
	font-size: 1.2em;
}

div[color="1024"] {
	background: #7F4D41;
	font-size: 1.2em;
}

div[color="2048"] {
	background: #FCFD37;
	font-size: 1.2em;
}
